<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flask Mongo Api</title>
	<h1>Display Users</h1>
	<p><a href="/read" method = "GET">View Users</a></p>
	<h1>Add Users</h1>
</head>
<body>
	<form action='/create' method="GET">
		<pre> Name:        <input name="x"/>
		<br>Phone Number: <input name="y"/>
		<br>Location:     <input name="z"/>
		<br>                            <input type="submit" value="Add Users"></pre>
		
	</form>
	<h1>Delete Users</h1>
	<form action='/delete' method="GET">
		id: <input name ="id"/>
		<input type="submit" value="Delete Users">
	</form>
	<h1>Update Users</h1>
	<form action='/update' method="GET">
		id: <input name ="id" required>   
        <label for="field">field:</label>
        <select name="field" id="field">
			<option value="" disabled selected hidden>Select</option>
            <option value="Name">Name</option>
            <option value="Phone Number">Phone Number</option>
            <option value="Location">Location</option>
        </select>
        value: <input name="value" required/>  <input type="submit" value="Update Users">
	</form>
</body>
</html>
