<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flask Calculator API</title>
</head>
<body>
	<form action='/calculate' method="GET">
		<pre>Enter First Number:    <input name="value1"/>
		<br>Enter Second Number:   <input name="value2"/>
		<br>                            <input type="submit" value="calculate"></pre>
		
	</form>
</body>
</html>